* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #232526, #5a5a5a);

}

a {
    text-decoration: none;
    color: #26ff93;
    font-weight: 300;
}

.header {
    background-image: linear-gradient(90deg, #333, #555);

    .container {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;

        .logo {
            margin-right: 1em;
            display: flex;
            align-items: center;

            .fa-solid {
                padding-right: 0.5em;
                color: #26ff93;
            }

            span {
                font-size: 26px;
                font-weight: 500;
            }
        }

        .navbar {
            display: flex;
            align-items: center;
            margin: auto;

            .item {
                flex-grow: 1;
                padding: 20px;
                border-bottom: 5px solid transparent;
                transition: 0.3s;

                &:hover {
                    border-bottom: 5px solid #26ff93;
                }
            }
        }

        .navSearch {
            display: flex;
            align-items: center;
            margin-left: auto;

            input,
            button {
                border: none;
                outline: none;
                height: 30px;
                background-color: #ffffff;
            }

            input {
                padding-left: 12px;
                width: 80%;
                border-radius: 100px 0 0 100px;
            }

            button {
                width: 20%;
                border-radius: 0 100px 100px 0;
                cursor: pointer;
            }

            .fa-search {
                color: #555555;

                &:hover {
                    color: #26ff93;
                    transition: all 0.3s;
                }
            }
        }
    }
}

//========================================================
main {
    width: 100vw;
    height: 85vh;
    // background-image: linear-gradient(to top, #232526, #5a5a5a);
}

.inputArea {
    position: absolute;
    border: 5px solid #aaa;
    width: 30vw;
    height: 60vh;
    color: white;
    padding: 15px;
    left: 30%;
    top: 25%;
    font-size: 22px;
}

// .addToCartBtn {
    
// }


// .cartArea {

   

//     .buyBookBtn {
      
//     }
// }

// .buyList {
  
// }